<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:with="title=Index" th:substituteby="includes/header :: header">
    <title th:if="${title}" th:text="'JasDB Admin Console - ' + ${title}">Page title</title>
    <title th:if="!${title}">JasDB Admin Console</title>

    <link th:href="@{/bootstrap/css/bootstrap.min.css}" href="/bootstrap/css/bootstrap.css" rel="stylesheet"/>

    <script th:src="@{/bootstrap/js/bootstrap.min.js}" src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<script th:src="@{/javascript/data.js}" src="/javascript/data.js"></script>
<div class="container">
    <div th:replace="includes/header :: navigation (selectTab='Error')"></div>

    <div class="row">
        <div class="alert alert-error">
            <p><strong>Check the logs for details.</strong></p>
        </div>

    </div>
    <div th:substituteby="includes/header :: footer"></div>
</div>
</body>
</html>