<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">

{% include _browser-upgrade.html %}

<div class="container">
  {% include _navigation.html %}

  {% for post in site.posts limit:3 %}
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{{ post.title }}</h2>
        </div>
        <div class="panel-body">
          <small>Published on <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>{% if post.modified %} and last modified on <time datetime="{{ post.modified | date: "%Y-%m-%d" }}">{{ post.modified | date: "%B %d, %Y" }}</time>{% endif %} by <a href="{{ site.url }}/about" title="About {{ site.owner.name }}">{{ site.owner.name }}</a>.</small>
          <hr/>
          {{ post.content }}
        </div>
        <div class="panel-footer">
          <div class="row">
            <strong>Posted in:</strong>
            <em>
              {% for tag in post.tags %}
                {{tag}};
              {% endfor %}
            </em>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  {% include _footer.html %}
</div>

{% include _scripts.html %}

</body>
</html>
