<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:with="title=Index" th:substituteby="includes/header :: header">
    <title th:if="${title}" th:text="'JasDB Admin Console - ' + ${title}">Page title</title>
    <title th:if="!${title}">JasDB Admin Console</title>

    <link th:href="@{/static/bootstrap/css/bootstrap.min.css}" href="/webapp/static/bootstrap/css/bootstrap.css" rel="stylesheet"/>

    <script th:src="@{/static/bootstrap/js/bootstrap.min.js}" src="/webapp/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<script th:src="@{/static/javascript/data.js}" src="/webapp/static/javascript/data.js"></script>
<div class="container">
    <div th:substituteby="includes/header :: navigation"></div>

    <div class="row">
        <div class="col-md-3">
            <!-- Modal for instance addition-->
            <div class="modal fade" id="instanceModal" tabindex="-1" role="dialog" aria-labelledby="addInstanceLabel" aria-hidden="true">
                <form role="form" action="#" th:object="${instanceForm}" th:action="@{'/data/'}" method="post">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="addInstanceLabel">Add an Instance</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="instanceName">Instance name</label>
                                    <input type="text" class="form-control" id="instanceName" placeholder="Enter Instance name" th:field="*{name}"/>
                                </div>

                                <div class="form-group">
                                    <label for="instancePath">Instance path</label>
                                    <input type="text" class="form-control" id="instancePath" placeholder="Enter Instance path" th:field="*{path}"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Instances</h4>
                    <div class="btn-group pull-right">
                        <a href="#" data-toggle="modal" data-target="#instanceModal" class="btn btn-default btn-sm" title="Add an Instance"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                </div>

                <div class="panel-body">
                    <ul>
                        <li th:each="instance : ${instances}">
                            <a href="#" th:href="@{'/data/' + ${instance.instanceId}}" th:text="${instance.instanceId}">Text</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-primary">

                <!-- Modal for bag addition-->
                <div class="modal fade" id="bagModal" tabindex="-1" role="dialog" aria-labelledby="addBagLabel" aria-hidden="true">
                    <form role="form" action="#" th:object="${bag}" th:action="@{'/data/' + ${instanceId} + '/createBag'}" method="post">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="addBagLabel">Add an bag</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="bagName">Bag name</label>
                                        <input type="text" class="form-control" id="bagName" placeholder="Enter bag name" th:field="*{name}"/>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Modal for data insertion -->
                <div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="addDocumentLabel" aria-hidden="true">
                    <form role="form" action="#" th:object="${entity}" th:action="@{'/data/' + ${instanceId} + '/createEntity'}" method="post">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="addDocumentLabel">Add a document</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="dataEntity">Contents</label>
                                        <textarea id="dataEntity" class="form-control" placeholder="Enter JSON Data" th:field="*{data}" rows="10">>

                                        </textarea>
                                    </div>
                                    <input type="hidden" value="" id="bag" th:field="*{bag}"/>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- instance data -->
                <div class="panel-heading clearfix" >
                    <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Instance: <span th:text="${instanceId}"></span></h4>
                    <div class="btn-group pull-right">
                        <!-- we want an add bag button -->
                        <a href="#" data-toggle="modal" data-target="#bagModal" class="btn btn-default btn-sm" title="Add a Bag"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">Instance Properties</h4>
                        </div>
                        <div class="panel-body">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Property</th>
                                    <th>Value</th>
                                </tr>
                                </thead>
                                <tr>
                                    <td>Bags</td>
                                    <td th:text="${bags.size()}"></td>
                                </tr>
                                <tr>
                                    <td>Path:</td>
                                    <td th:text="${instance.path}"></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default" th:each="bag : ${bags}">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" th:href="'#' + ${bag.name}" th:text="'Bag: ' + ${bag.name} + ' (' + ${bag.size} + ')'"></a><i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i>
                                </h4>
                            </div>

                            <!-- bag overview in instance -->
                            <div th:id="${bag.name}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="panel panel-info">
                                        <div class="panel-heading clearfix">
                                            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Documents</h4>
                                            <div class="btn-group pull-right">
                                                <!-- we want an add data button -->
                                                <a href="#" data-toggle="modal" data-target="#dataModal" data-id="" th:attr="data-id=${bag.name}" class="btn btn-default btn-sm addDocument" title="Add a Document"><span class="glyphicon glyphicon-plus"></span></a>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>Property</th>
                                                    <th>Value</th>
                                                </tr>
                                                </thead>
                                                <tr>
                                                    <td>Document Count:</td>
                                                    <td th:text="${bag.size}"></td>
                                                </tr>
                                                <tr>
                                                    <td>Disk size:</td>
                                                    <td th:text="${bag.diskSize}"></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="panel panel-info">
                                        <div class="panel-heading">Indexes</div>
                                        <div class="panel-body">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Index</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tr th:each="indexName : ${bag.indexNames}">
                                                    <td th:text="${indexName}">Name</td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary btn-sm">Info</button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="panel panel-info">
                                        <div class="panel-heading">Query Documents</div>
                                        <div class="panel-body">
                                            <form method="post" class="form-inline" role="form" th:action="@{'/search/' + ${instanceId} + '/' + ${bag.name}}" th:object="${searchForm}">
                                                <div class="form-group">
                                                    <label class="sr-only" for="inputField">Field</label>
                                                    <input type="text" class="form-control" id="inputField" placeholder="Enter field" th:field="*{field}"/>
                                                </div>
                                                <div class="form-group">
                                                    <label class="sr-only" for="inputValue">Value</label>
                                                    <input type="text" class="form-control" id="inputValue" placeholder="Enter value" th:field="*{value}"/>
                                                </div>

                                                <button type="submit" class="btn btn-default">Filter</button>
                                                <a href="" th:href="@{'/search/' + ${instanceId} + '/' + ${bag.name}}" class="btn btn-default">Show all</a>
                                            </form>
                                        </div>
                                    </div>
                                    <br/>
                                    <a href="#" th:href="@{'/data/' + ${instanceId} + '/' + ${bag.name} + '/delete'}" class="btn btn-danger" th:text="'Delete Bag: ' + ${bag.name}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" th:href="@{'/data/' + ${instanceId} + '/delete'}" class="btn btn-danger" th:text="'Delete Instance: ' + ${instanceId}">Delete: Instance</a>
                </div>
            </div>
        </div>
    </div>

    <div th:substituteby="includes/header :: footer"></div>
</div>

</body>
</html>